name: sni_compose

services:
  sni:
    build:
      context: ./frontend
      additional_contexts:
        - root=.
    container_name: sni
    ports:
      - "80:80"
      - "127.0.0.1:8443:8443"
    restart: unless-stopped
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
